# IntelliJ / Android Studio
*.iml
.idea/

# Gradle
.gradle/
build/

# Local config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Android Studio captures
captures/

# OS files
.DS_Store
Thumbs.db

app/src/google-services.json